{% extends 'base.html' %}
{% set active_page = "index" %}

<!--Title-->
{% block title %}
    Sien Long's Data Science Web App
{% endblock %}

<!--Main content-->
{% block content %}
    <h2>Welcome to Sien Long's Data Science Web App</h2>
    <p>Here, you will get to experience firsthand, some of the projects I have created. Hopefully some of them will be useful to you!</p>
    <p class="lead">
        <a href="{{url_for('login')}}" class="btn btn-lg btn-light fw-bold border-white bg-white">Click here to start</a>
      </p>

{% endblock %}