{% extends 'base.html' %}
{% set active_page = "predict" %}

<!--Title-->
{% block title %}
    Predict
{% endblock %}


<!--Main content-->
{% block content %}
    <h3>Follow these steps to do a prediction</h3>
    <p></p>
    <form method="post">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="neighbourhood" 
            name="neighbourhood" 
            input="{{ request.form['neighbourhood'] }}"></input>
          </div>

        <div class="mb-3">
          <label for="text" class="form-label">Price purchased</label>
          <input type="text" class="form-control" name="price" input="{{ request.form['price'] }}"></input>
        </div>
        
        <div class="lead">
          <button type="submit" class="btn btn-lg btn-light fw-bold border-white bg-white">Submit</button>
        </div>
    </form>
{% endblock %}